* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #ffffff;
}

article {
  padding-left: 1.25em; /* 20px */
  padding-right: 1.25em;
}

/* =========
CONTAINER LAYOUT 
============*/

.container {
  display: grid;
  grid-template-columns: 1.25em 1fr 1.25em;
  grid-template-areas:
    ".... head ...."
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    ".... foot ....";

  max-width: 1085px;
  margin: 0 auto;
}

/* ==========
HEADER styles 
============*/
.header {
  grid-area: head;
  display: flex;
  align-items: center;
  gap: 1.875em; /* 30px */

  padding-top: 1.375em; /* 22px / 16px === 1.375em */
  padding-bottom: 1.375em; /* 22px / 16px === 1.375em */
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.1875em; /* 3px */
}

.logo-img {
  width: 23px;
  height: 23px;
}

.logo-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.875rem; /* 14px / 16px = 0.875rem */

  color: #0e0e0e;
}

.nav {
  margin-left: auto;
}

.home-link,
.about-me-link {
  font-weight: 600;
  font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  color: #090909;
}

/* ==========
MAIN ELEMENT styles 
============*/
.main {
  grid-area: main;
}

/* ==========
HERO article styles 
============*/
.hero-section {
  background-image: url("/images/article-image-hero.png");
  background-repeat: no-repeat;

  background-position: right;
  background-size: cover;
  min-height: 293px;
  color: #ffffff;
}

.hero-article {
  display: flex;
  flex-direction: column;
  gap: 0.5em; /* 8px */

  padding-top: 5.4375em; /* 87px / 16px = 5.438em */
  padding-bottom: 1.5625em; /* 25px / 16px = 1.5625em */
}

.hero-article-date {
  order: -1;
  font-size: 0.75rem; /* 12px */
  line-height: 100%;
  opacity: 0.8;
}

.hero-article-title {
  font-size: 2rem; /* 32px */
  line-height: 108%;
  letter-spacing: -3%;
}

.hero-article-preview {
  font-size: 1rem; /* 14.4px */
  opacity: 0.9;
  line-height: 1.4;
  letter-spacing: 0.3px;
}

/* ==========
article list styles 
============*/

.article-list {
  list-style: none;
  padding-left: 0;
  margin-top: 2.125em; /* 34px */
  margin-bottom: 1.6875em; /* 27px */

  display: flex;
  flex-direction: column;
  gap: 2.5625em; /* 41px */
}

.article-img {
  width: 100%;
  display: block;
  margin-bottom: 0.875em; /* 14px */
}

.article-details {
  display: flex;
  flex-direction: column;
  gap: 0.5625em; /* 9px */
}

.article-date {
  order: -1;
}

.article-title > a {
  color: #141414;
}

.article-preview {
  color: #505050;
  line-height: 125%;
}

.view-more-btn-container {
  padding-left: 1.25em; /* 20px */
  padding-right: 1.25em;

  margin-bottom: 2.6875em; /* 43px */
}

.view-more-btn {
  display: block;
  background: transparent;
  border: none;
  text-decoration: underline;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  cursor: pointer;
}

/* ==========
Footer styles 
============*/
footer {
  grid-area: foot;
  background: #202020;
  padding-top: 2.3125em; /* 37px / 16px */
  padding-bottom: 2.3125em; /* 37px / 16px */

  text-align: center;
}

footer > .footer-top-text {
  color: #ececec;
  font-size: 0.75rem; /* 12px */
  font-weight: 700;
  line-height: 108%;
  letter-spacing: -3%;
  margin-bottom: 0.25em; /* 3px / 12px == 0.25em */
}

footer > .footer-copyright {
  color: #d7d7d7;
  font-size: 0.75rem; /* 12px */
  line-height: 125%;
}
